* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  padding: 20px 40px;
}

header .logo {
  font-size: 2em;
  font-weight: bold;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin: 0 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.7em;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #f39c12;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 20px;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.text-box {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.text-box.fade-in {
  opacity: 1;
}


.text-box {
  flex: 1;
  background-color: rgba(32, 32, 30, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.text-box h1 {
  font-size: 3em;
  color: #f3efdb;
}

.text-box span {
  color: #f39c12;
  font-weight: bold;
}

.text-box p {
  font-size: 1.5em;
  margin-top: 10px;
  color: #f3d084;
  padding-bottom: 3%;
}

.text-box ul {
  padding: 10px;
}

.text-box ul li {
  font-size: 1.5em;
  color: white;
  margin: 10px 10px;
}

.image-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-box img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #f39c12;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 20px;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
}

.social-icons a:hover {
  transform: scale(1.1);
  background-color: #f39c12;
}

.social-icons a i {
  font-size: 24px;
  color: #000;
}

.social-icons a:hover i {
  color: #fff;
}